html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grid {
  border: 1px solid #000;
  min-width: 400px;
  max-width: 400px;
  min-height: 400px;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  flex-basis: calc(100% / 16);
}

#change-size-button {
  padding: 10px 20px;
  margin-bottom: 30px;
}
