@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-family: "Caveat", cursive;
}

a {
  color: inherit;
}

footer {
  margin-top: auto;
  padding: 10px 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 40px 0;
}

#grid {
  border: 1px solid #000;
  min-width: 400px;
  max-width: 400px;
  min-height: 400px;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  flex-basis: calc(100% / 16);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#change-size-button {
  padding: 10px 20px;
  margin-bottom: 30px;
}
